.p-Home .TextBox7{
    background-image: linear-gradient(60deg, #b16cea,#ff6266, #FFB03A);
    background-clip: text;
    color: transparent;
    font-weight: 1000;
    letter-spacing: .1px;
}.p-Home .TextBox8{
    font-weight: 1000;
}
.p-Home .TextBox9{
    font-weight: 1000;
}
.p-Home .TextBox11{
    font-weight: 1000;
}
.p-Home .TextBox14{
    font-weight: 1000;
}.p-Home .TextBox15{
    font-weight: 1000;
}
.p-Home .TextBox17{
    font-weight: 1000;
}
.p-Home .TextBox21{
    font-weight: 1000;
}
.p-Home .TextBox22{
    font-weight: 1000;
}
.p-Home .TextBox23{
    font-weight: 1000;
}
.p-Home .TextBox34{
    font-weight: 1000;
}
.p-Home .TextBox35{
    font-weight: 1000;
}
.p-Home .TextBox36{
    font-weight: 1000;
}
.p-Home .TextBox37{
    font-weight: 1000;
}
.p-Home .TextBox39,.p-Home .TextBox40,.p-Home .TextBox41,.p-Home .TextBox42,.p-Home .TextBox44,.p-Home .TextBox45,.p-Home .TextBox46,.p-Home .TextBox89,.p-Home .TextBox90,.p-Home .TextBox93,.p-Home .TextBox105,.p-Home .TextBox99,.p-Home .TextBox108,.p-Home .TextBox111,.p-Home .TextBox113,.p-Home .TextBox116,.p-Home .TextBox150,.p-Home .TextBox167,.p-Home .TextBox168,.p-Home .TextBox172,.p-Home .TextBox181,.p-Home .TextBox2,.p-Home .TextBox3,.p-Home .TextBox4,.p-Home .TextBox5,.p-Home .TextBox6{
    font-weight: 1000;
}

.p-Home .TextBox13{
    background-image: linear-gradient(60deg, #b16cea,#ff6266, #FFB03A);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    letter-spacing: 3px;
}
.p-Home .TextBox44{
    background-image: linear-gradient(60deg, #b16cea,#ff6266, #FFB03A);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    letter-spacing: 3px;
}
.p-Home .TextBox89{
    background-image: linear-gradient(60deg, #b16cea,#ff6266, #FFB03A);
    background-clip: text;
    color: transparent;
    font-weight: 1000;
    letter-spacing: 3px;
}
.p-Home .TextBox114{
    background-image: linear-gradient(60deg, #b16cea,#ff6266, #FFB03A);
    background-clip: text;
    color: transparent;
    font-weight: 1000;
    letter-spacing: 3px;
}
.p-Home .TextBox166{
    background-image: linear-gradient(60deg, #b16cea,#ff6266, #FFB03A);
    background-clip: text;
    color: transparent;
    font-weight: 1000;
    letter-spacing: 3px;
}
.p-Home .TextBox171{
    background-image: linear-gradient(60deg, #b16cea,#ff6266, #FFB03A);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    letter-spacing: 3px;
}
.p-Home .TextBox182{
    background-image: linear-gradient(60deg, #b16cea,#ff6266, #FFB03A);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    letter-spacing: 3px;
}
.p-Home .TextBox114{
    background-image: linear-gradient(60deg, #b16cea,#ff6266, #FFB03A);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    letter-spacing: 3px;
}